## Words

In [2]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [3]:
# your code here
#USING FOR LOOP
# Loop through the list and print each word in uppercase
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

In [5]:
#USING COMPREHENSION LIST

long_words = [word for word in words if len(word)>=5]
print(long_words)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Create a new list containing only words with 5 or more letters**

In [4]:
# your code here

#USING FOR LOOP

#Initialize an empty list to store the words
long_words = []

#Iterate through the list
for word in words:
    #Check if the word has 5 or more letters
    if len(word) >= 5:
        long_words.append(word) #Add the word to the new list

print(long_words)

['filling', 'theatre', 'easygoing', 'story', 'island']

In [6]:
#USING COMPREHENSION LIST

long_words = [word for word in words if len(word)>=5]
print(long_words)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [8]:
# your code here

#USING FOR LOOP
for word in words:
    if word[0] == 't': #Check if the first letter is 't'
        print(word)
        break #Stop after finding the first match

theatre

In [9]:
# USING COMPREHENSION LIST
first_word_starting_with_t = [word for word in words if word[0] == 't']
if first_word_starting_with_t:
    print(first_word_starting_with_t[0])

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [10]:
# your code here

#USING FOR LOOP
squares = []
for number in range(1,11): #Numbers from 1 to 10
    squares.append(number**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
#USING COMPREHENSION LIST
squares = [number**2 for number in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [ ]:
# your code here

#USING FOR LOOP

#Initialize an empty list to store the square of every odd number from 1 to 10
odd_squares = []
for number in range(1,11): #Numbers from 1 to 10
    if number % 2 != 0: #Check if the number is odd
        odd_squares.append(number**2)
print(odd_squares)

In [ ]:
#USING COMPREHENSION LIST
odd_squares = [number**2 for number in range(1,11) if number % 2 != 0]
print(odd_squares)

**Create a list with the squares of all multiples of 8 below 1000**

In [ ]:
# your code here

#USING FOR LOOP

# Initialize an empty list for the squares of multiples of 8 below 1000
squares_of_multiples_of_8 = []

# Iterate through multiples of 8 below 1000
for number in range(8, 1000, 8):
    # Calculate and append the square of the number
    squares_of_multiples_of_8.append(number ** 2)

# Print the final list
print(squares_of_multiples_of_8)

In [ ]:
#USING COMPREHENSION LIST

squares_of_multiples_of_8 = [number ** 2 for number in range(8, 1000, 8) if number < 1000]
print(squares_of_multiples_of_8)

## People

In [12]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [13]:
# your code here
number_of_people = len(people)
print(number_of_people)

5

**How many people have kids**?

In [14]:
# your code here

#USING FOR LOOP

# Initialize a counter to track the number of people with kids
people_with_kids = 0

# Loop through each person in the people list
for person in people:
     # Check if the current person has at least one kid
    if person["n_kids"] > 0:
        # If they have kids, increment the counter
        people_with_kids += 1

print("People with kids:", people_with_kids)

People with kids: 4

In [15]:
#USING COMPREHENSION LIST
people_with_kids = len([person for person in people if person["n_kids"] > 0])
print("People with kids:", people_with_kids)

People with kids: 4

**How many kids do they have in total?**

In [16]:
# your code here

#USING FOR LOOP

# Initialize a counter to sum the total number of kids
total_kids = 0

# Loop through each person in the people list
for person in people:
    # Add the number of kids the person has to the total count
    total_kids += person["n_kids"]

# Print the total number of kids
print("Total number of kids:", total_kids)

Total number of kids: 10

In [17]:
#USING COMPREHENSION LIST
total_kids = sum([person["n_kids"] for person in people])
print("Total number of kids:", total_kids)

Total number of kids: 10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [19]:
#your code here

#USING FOR LOOP

# Initialize an empty list to store the future people data
future_people = []

# Loop through each person in the people list
for person in people:
    # Check if the person's name ends with the letter "a"
    if person["name"].endswith("a"):
        # Create a copy of the current person's data to avoid modifying the original list
        future_person = person.copy()
        # Increase the number of kids by 1 for those whose names end with "a"
        future_person["n_kids"] += 1
        # Add the updated data to the future_people list
        future_people.append(future_person)
    else:
        # If the name doesn't end with "a", simply add the person as they are
        future_people.append(person)

# Print the list of people's data in a year's time
print("People in a year's time:", future_people)

People in a year's time: [{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]

In [18]:
#USING COMPREHENSION LIST

future_people = [
    {**person, "n_kids": person["n_kids"] + 1} if person["name"].endswith("a") else person
    for person in people
]

# Print the updated list of people in a year's time
print("People in a year's time:", future_people)

People in a year's time: [{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]